--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
sqlalchemy
pydantic-settings
email-validator
psycopg[binary]
pgvector
numpy
alembic
openai
torch==2.3.1+cpu
sentence-transformers
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
jsonschema
